html,
body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
.wrap {
  width: 100%;
  height: 100%;
}
.cntnt_box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#header {
  width: 100%;
}
.ci {
  width: 30dvw;
}
