@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");

html,
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background: #eee;
  flex-direction: column;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  /* height: 60%; */
  padding: 2rem;
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.064);
}
.cntnt_box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#header {
  text-align: center;
}

#header h2 {
  margin: 0 0 0.2rem;
  font-size: 16px;
}
#header .ci {
  width: 100%;
  max-width: 200px;
  margin-bottom: 0.5rem;
}

#input_area {
  margin-bottom: 1rem;
  width: 100%;
}
#input_area form {
  /* width: calc(100% - 3rem); */
  margin: 0 auto;
  text-align: center;
}
#input_area form > textarea {
  font-size: 0.8rem;
  font-family: inherit;
  margin-bottom: 0.5rem;
  width: calc(100% - 1rem - 4px);
  padding: 0.5rem;
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 2px 0 #000;
}
#input_area label {
}
#input_area button {
  background: #5278e7;
  padding: 0.7rem 1rem;
  color: #fff;
}
#input_area button:hover {
  background: #466de2;
}
#desc_area {
  width: 100%;
  height: 30dvh;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#desc_area > div {
  width: 100%;
  /* width: calc(50% - 1rem); */
  /* margin: 0 0.5rem; */
}
#desc_area > div .toggle {
  font-size: 0.84rem;
  margin: 0 auto;
  display: inline-block;
  background: #eee;
}
#desc_area > div:first-child {
  margin-right: 0.25rem;
}
#desc_area > div:last-child {
  margin-left: 0.25rem;
}
#desc_area .toggle:hover {
  background: #ccc;
}

#desc_area > div .desc_box {
  max-height: 300px;
  overflow-y: auto;
  font-size: 0.75rem;
  line-height: 1.4rem;
  display: flex;
  flex-direction: column;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s linear; /* , opacity 0.3s linear; */
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-top: 10px;
  padding: 0.5rem;
}

#desc_area .desc_box.open {
  max-height: 500px; /* 충분히 큰 값 */
  opacity: 1;
}

#desc_area div .desc_box p {
  margin: 0;
}
.wrap button {
  z-index: 999;
  all: unset;
  width: calc(100% - 2rem);
  font-style: 800;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 12px;
  transition: background 0.3s linear;
  cursor: pointer;
}

/* === xsm (>=320px) 초소형 모바일 === */
@media (max-width: 319px) {
  /* 320px 미만은 거의 없음 → 안전용 */
}

/* === sm (>=380px) 모바일 === */
@media (min-width: 320px) and (max-width: 959px) {
  body {
    background: white;
  }
  .wrap {
    /* justify-content: flex-start; */
    overflow: auto;
    padding: 0;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    padding: 1rem;
    box-shadow: none;
  }
  .cntnt_box {
    overflow-y: auto;
    height: fit-content;
    width: calc(100% - 1rem);
    margin: 0 0.5rem;
    justify-content: center;
  }
  #header {
    width: 70%;
  }
  #header h2 {
  }
  #header .ci {
    max-width: 240px !important;
  }
  #input_area {
    margin-bottom: 2rem;
  }
  #input_area form {
  }
  #input_area form textarea {
    height: 30dvh;
    overflow-y: auto;
  }
  #input_area form button {
    margin: 0;
  }
  #desc_area {
    width: 100%;
    overflow: unset;
    height: auto;
    flex-direction: column;
    font-size: 0.7rem;
  }
  #desc_area > div:first-child {
    margin-right: 0;
  }
  #desc_area > div:last-child {
    margin-left: 0;
  }
  #desc_area > div {
    margin: 0;
    width: 100%;
  }
  #desc_area div .toggle {
    margin: 0 0 0.5rem;
  }
  #desc_area div .toggle_02 {
    margin-bottom: 0;
  }
  #desc_area div .desc_box {
    width: calc(100% - 1rem - 2px);
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    /* line-height: 1.1rem; */
  }
  #desc_area div .desc_box.open {
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
  .wrap button {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
  }
}

/* === sm (>=380px) 모바일 === */
@media (min-width: 375px) and (max-width: 767px) {
  textarea {
    height: 30dvh !important;
  }
}
/* === md (>=768px) 태블릿 === */
@media (min-width: 768px) and (max-width: 959px) {
  textarea {
    height: 25dvh !important;
  }
}

/* === xl (>=1200px) 노트북  === */
@media (min-width: 960px) and (max-width: 1199px) {
  .wrap {
    width: 60%;
    height: 80%;
  }
  #header {
    width: 25dvw;
  }
  textarea {
    height: auto;
    max-height: 20dvh !important;
  }
  #input_area button {
    font-size: 1rem !important;
  }
  #desc_area .toggle {
  }
  #desc_area div .desc_box {
    height: 320px;
  }
}

/* === xl (>=1200px) 큰 데스크톱 === */
@media (min-width: 1200px) and (max-width: 1599px) {
  .wrap {
    width: 40%;
  }
  #header {
    width: 25dvw;
  }
  #desc_area > div:first-child {
    margin-right: 0.25rem;
  }
  #desc_area > div:last-child {
    margin-left: 0.25rem;
  }
  #desc_area div .toggle {
    padding: 0.7rem 0.5rem;
    width: calc(100% - 1rem);
  }
}

/* === xxl (>=1600px) 와이드 === */
@media (min-width: 1600px) and (max-width: 1919px) {
  .wrap {
    width: 40%;
  }
  #header {
    /* width: 20dvw; */
    width: 20dvw;
  }
}

/* === xxxl (>=1920px) 울트라 와이드 === */
@media (min-width: 1920px) {
  .wrap {
    /* width: 30%; */
  }
  #header {
    /* width: 15dvw; */
  }
}
